.button {
 width: 12px;
 height: 12px;
 outline: none;
 padding: 0;
 background-color: transparent;
 border: 0px;
 &:hover {
  cursor: pointer;
 }
 &:before {
  content: '△';
  position: relative;
  top: 3px;
  left: 2px;
 }
 &_open {
   transform: rotate(180deg);
   &:before{
     top: -3px;
     left: 6px;
   }
 }
 &_close {
   transform: rotate(90deg);
 }
}
